@import "./color";

.container {
  width:100%;
  display: flex;

}
.content {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 10px 10px 0;


}

.sidebar-menu {
  background-color: $color-dark-lite;
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 200px;
  height: 100%;
  margin-right: 10px;
  padding: 20px 0;
z-index: 299;
  span {
     margin-left: 30px;
     color: $color-main;
     font-size: 12px;
   }
}
.menu-btn {

  display: flex;
  flex-direction: row;
  font-family: "Segoe UI Semibold";
  font-size: 15px;
  width: 90%;
  height: 40px;
  align-items: center;
  background-color: $color-dark-lite;
  color: $color-lite;
  border: none;
  margin-top: 5px;
}
.focus {
  background-color: $color-dark;
  border-left: 3px solid $color-main;
  color: $color-main

}
.navi-line {
  width:100%;
  height: 40px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dark-lite;


  span {
    margin: 20px;
    color: $color-main;

  }
}
.page-content {
  width:100%;
  margin-right: 20px;
  margin-top: 10px;
}
.icon {
  margin: 0 0 0 5px;
  &__img{
    display: flex;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.hover-icon{
  color: $color-main !important;
}
.path{
  &__icon {
    margin: 0 10px;
  }
}
.receipt {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $color-dark-lite;
  z-index: 300;
  &__checkbox {
    width: 100px;
    height: 120px;
    border: none;
    display: flex;
    position: absolute;
    font-size: 100px;
    color: $color-green;
    background-color: $color-dark-lite;
    top: 20px;
  }
  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background-color: $color-main;
    width: 100px;
    height: 30px;
    border-radius: 20px;
  }
  &__length {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background-color: $color-main;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  &__btn {
    margin: 0 30px;
  }
  &__items {

    align-self: center;
  }
}
.hide {
  display: none;
}
.relative {
  position: relative;
}
.checkbox {
  display: none;
}
.checkbox + label {
  width: 120px;
  height: 100px;
  position: absolute;
  cursor: pointer;
}
.checkbox:checked + label {
  width: 120px;
  height: 100px;
  background-image: url(../images/other/check4.png);
  background-size: cover;
}

@media screen and (max-width: 540px) {
  .menu__text{
    display: none;
  }
  .sidebar-menu {
    min-width: 70px;
  }
  .single__second-info1 {
    background-color: $color-dark-lite;
    margin: 10px 0 0 0;
    width: 100%;
    padding: 20px;
  }
  .receipt__items {
    display: none;
  }
}

