@import './color';

.btn{
cursor: pointer;
  &__add {
    width: 120px;
    height: 30px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: $color-main;
    margin: 5px;
  }
  &__success {
    width: 120px;
    height: 30px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: $color-main;
    margin: 5px;
    cursor: pointer;
  }
  &__cancel {
    width: 120px;
    height: 30px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: $color-gray;
    margin: 5px;
  }
  &__empty {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    &-delete {
      border: none;
      background: none;
      color: white;
      position: absolute;
      left: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
  &__more {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 25px;
    background-color: $color-main;
    cursor: pointer;
    z-index: 350;
  }
}
.large {
  width: 150px;
}
.lite {
  background-color: $color-lite;
  color: black;
}