$color-dark: #2b2d35;
$color-dark-lite: #32363f;
$color-lite: #ffffff;
$color-main: #f75757;
$color-gray: #4b545c;

$color-green: #78d25b;
$color-purple: #3c3d64;
$color-orange: #fa9441;

$color-blue: #1e526e;
$color-blue-lite: #1da1f2;