.header {
  width: 100%;
  height: 70px;
  background-color: $color-dark-lite;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__logo {
    width: 15%;
    position: relative;
    min-width: 200px;
    border-right: 1px solid $color-gray;
    &__img {
      margin-left: 20px;
    }

  }
  &__menu{
    &__img{
      position: absolute;
      right: 5px;
      top: 25px;
    }
  }
  &__main {
    width: 85%;
  }
  h4 {
    position: absolute;
    left: 55px;
    top: -10px;
    font-size: 20px;
    color: $color-main;
  }

}
