@import "./color.scss";
@import "./block";
@import "./header";
@import "./message";
@import './chef-page.scss';
@import './button.scss';
@import './modal.scss';
@import './view-options.scss';

html, body {
  background-color: $color-dark;
  font-family: "Segoe UI Semibold";
  color: $color-lite;
  margin:0;
  padding:0;
}
input, select, textarea {
  font-family: "Segoe UI Semibold";
}
a {
  color: $color-lite;
  text-decoration: none;
}
a:focus {
  color: $color-main;

}